:root{
    --primary:  #AEC09A;
    --secondary:    #344C11;
    --thirth:   #344C11;
    --backgrColor:  white;
    --textColor:    black;
    --light:    #f2f2f2;
    --butbackstart:rgba(255, 255, 255, 0.3);
    --butbackactive:rgba(255, 255, 255, 0.4)
}
*{
    transition: 
        background-color 200ms ease,
        transform 50ms ease;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.3vw;
}
/* body {
    width: 90vw ;
} */

main{
    color: var(--textColor);
    background-color:  var(--backgrColor);;
}
header{    color: var(--textColor);
    background-color:  var(--backgrColor);;}
.layers_container{
    height: 100vh;
    transform-style: preserve-3d;
    will-change: transform;
}

.layers_item{
    position: absolute;
    background-size: cover;
    background-position: center;
}

.background{transform: translateZ(-50px) scale(1.1);
}

.head-text{
    transform: translateZ(80px) scale(0.8)
}

.hero{
    perspective: 1000px;
    overflow: hidden;
}

footer{ 
    display: flex;
    justify-content: space-between;
    height: 24vh;
    background: linear-gradient(to bottom right, #344C11, #778D45); ;
    color: var(--primary);
}

.contacts{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 10vw;
}

.background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
}

.about-text{
    margin-bottom: 1vh;
    font-size: 1.3vw;
}

.img_2{
    border-radius: 10vw;
    padding: 5%;
    width: 90%;
    height: 100vh;
    transition-duration: 0.6s;
}

.img_2:hover{
    transform: scale(1.05);
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    align-self: center;
    justify-content: center;
}

.head-text{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 34vw

}

.content{
    background-color: rgba(255, 255, 255, 0.2);
    width: 18vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;

    border: 2px solid blue;
    border-radius: 15px;
}

.avatar{
    width: 50px;
    height: 50px;
}

.about-text{
    padding-left: 5vw;
    padding-right: 5vw;
}

.game{
    padding-left:5vw ;
    margin-bottom: 6vh;
    margin-top: 4vh;
}
.card{
    user-select:none;
    display:flex;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vh;
    padding-bottom: 2vh;
    border-radius: 1vw;
    box-shadow: 13px 9px 38px rgba(0, 0, 0, 0.31), 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition-duration: 0.6s;
}

.card:hover{
    transform: translateY(-20px);
}

.futers-list{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

.diferend{
    user-select:none;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 12vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-radius: 1vw;
    box-shadow: 13px 9px 38px rgba(0, 0, 0, 0.31), 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition-duration: 0.6s;
    margin-bottom: 8vh;
}

.diferend:hover{
    transform: translateY(-20px);
}


.cards-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}
.comment{
    padding: 1vh;

}

.coments{
    margin-bottom: 20vh ;
}

h1{
    font-size: 2vw;
}

.links{

    text-align: right;
    justify-content: center;
    padding-right: 10vw;
}

.link{
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.logo{
    width: 50px;
    height: 50px;
}

.futers{
    margin-bottom: 20vh ;
}

.gallery-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.gallery{
    display: flex;
    flex-direction: row;
    height: 80%;
    gap: 10px;
    min-width: calc( var(--total-item)*18vw)
}
.gallery-item{
    flex-grow: 1;
    height: 100%;
    border-radius: 1vw;
    background-size: cover;
    background-position: center;

    transition: 
        flex-grow 600ms ease-out,
        transform 400ms,
        box-shadow 400ms
    
    
    ;
}

.gallery-item:not(.active):hover{
    transform: translateY(-20px);
    box-shadow: 8px 10px 75px 5px rgba(34, 60, 80, 0.6);
    cursor: pointer;
}

.gallery-item.active{
    flex-grow: var(--total-item)    ;
}

.theme-change{
    width: 5vw;
    height: 5vh;

    color: var(--light);
    background-color: var(--butbackstart);
    border: 2px solid var(--light);
    border-radius: 2.5vw;

    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 
        background-color 200ms ease
        transform 50ms ease
}

.theme-change:hover{
    background-color: var(--butbackactive);
}

.theme-change:active{
    transform: translateY(2px);
}

.title{
    margin-left: 3vw;
    text-align: left;
}

.music{
    display: flex;
    background-color: lightgray;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 30vw;
    margin-right: 30vw;
    padding: 50px;
    border-radius: 2vw;
}

.sound-avatar{
    width: 15vw;
    height: 15vw;
    background-color: blue;
    border-radius: 50%;
}

.title-music{

}

.compositor{
    margin-top: 0.5vh;
}

.play{
    margin-top: 1vh;
    width: 3vw;
    height: 3vw;
    border: 2px solid black;
    border-radius: 50%;

}

.line{
    margin-top: 2vh;
    width: 15vw;
    height: 1vh;
    background-color: gray;
    border-radius: 0.5vh;
}